<div class="jumbotron text-center"><h1><b>OVPD Contracts Database</b></h1></div>

<%= render 'search' %>
<br>
<%= link_to '<i class="fa fa-plus"></i> New Contract'.html_safe, new_contract_path, {:class => "pull-right"} %>

<hr>
<%= render 'results' %>
<hr>

